<h2>Custom class and Style Directives</h2>

<div [appClass]="{'app-container':true,appHighlight:true,appFont:true}">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, animi quibusdam? Expedita dolorum quasi excepturi necessitatibus est, ipsa sit consequuntur nostrum cumque in culpa, magnam optio, quae rem saepe veritatis.
  </p>
</div>



<div class="app-container" [appStyle]="{backgroundColor:'red',color:'white'}">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, animi quibusdam? Expedita dolorum quasi excepturi necessitatibus est, ipsa sit consequuntur nostrum cumque in culpa, magnam optio, quae rem saepe veritatis.
  </p>
</div>